{% extends "CRLAdminBundle::layout.html.twig" %}

{% block title "Symfony - Admin Index" %}

{% block content_header '' %}

{% block content %}
<h2>{{ entity }} - Browse</h2>
{% for obj in metadata %}
  <a href="{{ obj.editurl }}">{{ obj.name }}<a>
  <a href="{{ obj.deleteurl }}">Delete<a><br />
{% endfor %}
<br />
<br />
{% if prevurl is not null %}
<a href="{{ prevurl }}">Prev</a>
{% else  %}
<b>Prev</b>
{% endif  %}
 | <a href="{{ nexturl }}">Next</a><br />
{% endblock %}
